form {
  //   position: fixed;
  max-width: 400px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   align-items: center;
  background: white;
  padding: 6px 20px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.054);
  margin: 0 auto;
  input {
    border: 1px solid rgb(235, 244, 242);
    background: rgb(235, 244, 242);
    color: $color-1;
    // outline: none;
    outline-color: $color-4;
    border-radius: 5px;
    height: 30px;
    display: block;
    width: 270px;
    margin: 5px auto 5px;
    font-size: 1.2rem;
    transition: 0.2s;
    padding-left: 5px;
    input:focus {
      border: 1px solid red;
    }
  }
  label {
    display: block;
    text-align: center;
  }
}
